/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Diavlo';
  src: url('media/diavlo.otf');
}
body {
  background: linear-gradient(to bottom left, #fdaf1e, #860e62, #fdaf1e) #fdaf1e;
  image-rendering: pixelated;
  padding: 0.5%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
.content {
  background: #131313;
  width: 90%;
  padding: 5%;
  box-shadow: -2px 2px 10px 0px #131313;
  border-radius: 3px;
}
.title {
  margin: 4%;
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Diavlo';
  background: url('media/extra_clean_paper.png');
  /* background: linear-gradient(to bottom left, #fdaf1e, #860e62); */
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.preview, .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}
.pixel, .third {
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.viewfinder {
  position: relative;
  width: 100%;
  margin-top: 3%;
}
.grid {
  position: absolute;
}
.controls {
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}
.controls button {
  flex-grow: 1;
  background-color: rgb(88, 12, 85);
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.controls :first-child {
  margin-right: 3%;
}

/* border styles */
.br {
  border-right: 1px solid rgba(255, 255, 0, 0.5);
}
.bb {
  border-bottom: 1px solid rgba(255, 255, 0, 0.5);
}